@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-size: 16px;
}

body {
    overflow: hidden;
    margin: 0; /* Xóa margin mặc định của body */
    padding: 0; /* Xóa padding mặc định của body */
    font-family: 'Roboto', sans-serif;
}